In [22]:
import calcbench as cb
from calcbench.filing import FilingType
import qgrid

## Filing Lag
### What is the delay between Calcbench processing the earnings press release and the XBRL 10-K/Q?

In [68]:
filings = cb.filings_dataframe(company_identifiers=["pep"])

In [69]:
def filing_timeline(filings):
    ten_QK = filings[filings.filing_type == FilingType.annualQuarterlyReport]
    ten_KQ_filing_date = pd.NaT
    if ten_QK.shape[0] > 0:
        ten_KQ_filing_date = ten_QK.iloc[0].calcbench_finished_load
    earnings_press_release = filings[
        filings.filing_type == FilingType.eightk_earningsPressRelease
    ]
    earnings_press_release_filing_date = pd.NaT
    if earnings_press_release.shape[0] > 0:
        earnings_press_release_filing_date = earnings_press_release.iloc[
            0
        ].calcbench_finished_load

    return pd.Series(
        (
            ten_KQ_filing_date,
            earnings_press_release_filing_date,
            ten_KQ_filing_date - earnings_press_release_filing_date,
        ),
        [
            "10-KQ_filing_date",
            "earnings_press_release_filing_date",
            "press_release_to_10-KQ_lag",
        ],
    )

In [70]:
filings.groupby(["fiscal_year", "fiscal_period"]).apply(filing_timeline).dropna()

                             10-KQ_filing_date  \
fiscal_year fiscal_period
2008.0      4              2009-02-19 16:40:23
2009.0      1              2009-04-22 16:32:34
            2              2009-07-22 16:05:51
            3              2009-10-08 16:10:28
            4              2010-02-22 16:19:59
2010.0      1              2010-04-23 07:46:09
            2              2010-07-20 17:05:46
            3              2010-10-07 16:25:50
            4              2011-03-31 16:36:06
2011.0      1              2011-04-28 09:19:15
            2              2011-07-21 09:15:36
            3              2011-10-12 16:19:47
            4              2012-02-27 16:50:56
2012.0      1              2012-04-26 16:27:36
            2              2012-07-25 17:20:42
            3              2012-10-17 17:09:32
            4              2013-02-21 16:46:15
2013.0      1              2013-04-19 16:17:42
            2              2013-07-24 16:19:52
            3              2013-10-16 16:24:43
            4              2014-02-14 16:26:07
2014.0      1              2014-04-17 16:16:17
            2              2014-07-23 16:25:57
            3              2014-10-09 16:19:24
            4              2015-10-07 16:25:44
2015.0      1              2015-04-23 16:25:27
            2              2015-07-09 16:16:58
            3              2015-10-06 16:17:55
            4              2016-02-11 16:40:10
2016.0      1              2016-04-18 16:09:39
            2              2016-07-07 16:20:31
            3              2016-09-29 16:20:07
            4              2017-02-15 16:35:15
2017.0      1              2017-04-26 16:41:45
            2              2017-07-11 16:34:08
            3              2017-10-04 16:45:47
            4              2018-02-13 16:57:59
2018.0      1              2018-04-26 16:54:31
            2              2018-07-10 16:35:09
            3              2018-10-02 17:18:08
            4              2019-02-15 17:33:48
2019.0      1              2019-06-11 17:14:35
            2              2019-07-09 06:31:45
            3              2019-10-03 06:44:24
            4              2020-02-13 06:25:20
2020.0      1              2020-04-28 06:34:57
            2              2020-07-13 06:17:46
            3              2020-10-01 06:19:21
            4              2021-02-11 06:18:31
2021.0      1              2021-04-15 06:14:06
            2              2021-07-13 06:16:42
            3              2021-10-05 06:13:59
            4              2022-02-10 06:17:16
2022.0      1              2022-04-26 06:25:25
            2              2022-07-12 06:22:53
            3              2022-10-12 06:14:34

                          earnings_press_release_filing_date  \
fiscal_year fiscal_period
2008.0      4                        2009-02-13 00:00:00.000
2009.0      1                        2009-04-20 00:00:00.000
            2                        2009-07-22 00:00:00.000
            3                        2009-10-08 00:00:00.000
            4                        2010-02-11 00:00:00.000
2010.0      1                        2010-04-22 00:00:00.000
            2                        2010-07-20 00:00:00.000
            3                        2010-10-07 00:00:00.000
            4                        2011-02-10 00:00:00.000
2011.0      1                        2011-04-28 00:00:00.000
            2                        2011-07-21 00:00:00.000
            3                        2011-10-12 00:00:00.000
            4                        2012-02-09 00:00:00.000
2012.0      1                        2012-04-26 00:00:00.000
            2                        2012-07-25 07:47:46.000
            3                        2012-10-17 07:45:29.000
            4                        2013-02-14 07:55:28.000
2013.0      1                        2013-04-18 07:47:25.000
            2                        2013-07-24 10:52:03.000
            3                        2013-10-16 07:37:05.000
            4                        2014-02-13 07:31:00.000
2014.0      1                        2014-04-17 07:14:06.000
            2                        2014-07-23 07:09:21.000
            3                        2014-10-09 07:06:35.000
            4                        2015-02-11 07:14:03.000
2015.0      1                        2015-04-23 07:04:07.000
            2                        2015-07-09 06:35:27.000
            3                        2015-10-06 06:38:02.000
            4                        2016-02-11 06:53:20.000
2016.0      1                        2016-04-18 06:44:16.000
            2                        2016-07-07 06:38:35.000
            3                        2016-09-29 06:35:10.000
            4                        2017-02-15 06:33:38.000
2017.0      1                        2017-04-26 06:09:00.000
            2                        2017-07-11 06:00:38.000
            3                        2017-10-04 06:02:32.000
            4                        2018-02-13 06:09:53.007
2018.0      1                        2018-04-26 06:20:38.033
            2                        2018-07-10 06:07:08.563
            3                        2018-10-02 06:10:37.050
            4                        2019-02-15 06:19:17.000
2019.0      1                        2019-04-17 06:09:19.000
            2                        2019-07-09 06:13:56.000
            3                        2019-10-03 06:10:14.000
            4                        2020-02-13 06:13:41.000
2020.0      1                        2020-04-28 06:29:08.000
            2                        2020-07-13 06:05:28.000
            3                        2020-10-01 06:05:50.000
            4                        2021-02-11 06:01:28.000
2021.0      1                        2021-04-15 06:52:21.000
            2                        2021-07-13 06:01:26.000
            3                        2021-10-05 06:01:20.000
            4                        2022-02-10 06:03:08.000
2022.0      1                        2022-04-26 06:03:44.000
            2                        2022-07-12 06:02:09.000
            3                        2022-10-12 06:02:09.000

                          press_release_to_10-KQ_lag
fiscal_year fiscal_period
2008.0      4                        6 days 16:40:23
2009.0      1                        2 days 16:32:34
            2                        0 days 16:05:51
            3                        0 days 16:10:28
            4                       11 days 16:19:59
2010.0      1                        1 days 07:46:09
            2                        0 days 17:05:46
            3                        0 days 16:25:50
            4                       49 days 16:36:06
2011.0      1                        0 days 09:19:15
            2                        0 days 09:15:36
            3                        0 days 16:19:47
            4                       18 days 16:50:56
2012.0      1                        0 days 16:27:36
            2                        0 days 09:32:56
            3                        0 days 09:24:03
            4                        7 days 08:50:47
2013.0      1                        1 days 08:30:17
            2                        0 days 05:27:49
            3                        0 days 08:47:38
            4                        1 days 08:55:07
2014.0      1                        0 days 09:02:11
            2                        0 days 09:16:36
            3                        0 days 09:12:49
            4                      238 days 09:11:41
2015.0      1                        0 days 09:21:20
            2                        0 days 09:41:31
            3                        0 days 09:39:53
            4                        0 days 09:46:50
2016.0      1                        0 days 09:25:23
            2                        0 days 09:41:56
            3                        0 days 09:44:57
            4                        0 days 10:01:37
2017.0      1                        0 days 10:32:45
            2                        0 days 10:33:30
            3                        0 days 10:43:15
            4                 0 days 10:48:05.993000
2018.0      1                 0 days 10:33:52.967000
            2                 0 days 10:28:00.437000
            3                 0 days 11:07:30.950000
            4                        0 days 11:14:31
2019.0      1                       55 days 11:05:16
            2                        0 days 00:17:49
            3                        0 days 00:34:10
            4                        0 days 00:11:39
2020.0      1                        0 days 00:05:49
            2                        0 days 00:12:18
            3                        0 days 00:13:31
            4                        0 days 00:17:03
2021.0      1                      -1 days +23:21:45
            2                        0 days 00:15:16
            3                        0 days 00:12:39
            4                        0 days 00:14:08
2022.0      1                        0 days 00:21:41
            2                        0 days 00:20:44
            3                        0 days 00:12:25

## Filing Data
### What data are we getting from earnings press-releases vs XBRL 10-K/Qs?