In [22]:
import calcbench as cb
from calcbench.filing import FilingType
import qgrid

In [3]:
filings = cb.filings_dataframe(company_identifiers=["pep"])

In [55]:
x = None


def filing_timeline(filings):
    global x
    x = filings
    ten_QK = filings[filings.filing_type == FilingType.annualQuarterlyReport]
    ten_KQ_filing_date = pd.NaT
    if ten_QK.shape[0] > 0:
        ten_KQ_filing_date = ten_QK.iloc[0].filing_date
    earnings_press_release = filings[
        filings.filing_type == FilingType.eightk_earningsPressRelease
    ]
    earnings_press_release_filing_date = pd.NaT
    if earnings_press_release.shape[0] > 0:
        earnings_press_release_filing_date = earnings_press_release.iloc[0].filing_date

    return pd.Series(
        (ten_KQ_filing_date, earnings_press_release_filing_date),
        ["10-KQ_filing_date", "earnings_press_release_filing_date"],
    )

In [56]:
filings.groupby(["fiscal_year", "fiscal_period"]).apply(filing_timeline)

                            10-KQ_filing_date  \
fiscal_year fiscal_period
2007.0      1                             NaT
            2                             NaT
            3                             NaT
            4             2008-02-15 00:00:00
            5                             NaT
            6                             NaT
            0                             NaT
2008.0      1             2008-04-24 00:00:00
            2             2008-07-23 00:00:00
            3             2008-10-15 00:00:00
            4             2009-02-19 00:00:00
            5                             NaT
            6                             NaT
            0                             NaT
2009.0      1             2009-04-22 00:00:00
            2             2009-07-22 00:00:00
            3             2009-10-08 00:00:00
            4             2010-02-22 00:00:00
            5                             NaT
            6                             NaT
            0                             NaT
2010.0      1             2010-04-23 00:00:00
            2             2010-07-20 00:00:00
            3             2010-10-07 00:00:00
            4             2011-03-31 00:00:00
            5                             NaT
            6                             NaT
            0                             NaT
2011.0      1             2011-04-28 00:00:00
            2             2011-07-21 00:00:00
            3             2011-10-12 00:00:00
            4             2012-02-27 00:00:00
            5                             NaT
            6                             NaT
            0                             NaT
2012.0      1             2012-04-26 00:00:00
            2             2012-07-25 00:00:00
            3             2012-10-17 00:00:00
            4             2013-02-21 00:00:00
            5                             NaT
            6                             NaT
            0                             NaT
2013.0      1             2013-04-19 00:00:00
            2             2013-07-24 00:00:00
            3             2013-10-16 00:00:00
            4             2014-02-14 00:00:00
            5                             NaT
            6                             NaT
            0                             NaT
2014.0      1             2014-04-17 00:00:00
            2             2014-07-23 00:00:00
            3             2014-10-09 00:00:00
            4             2015-10-07 00:00:00
            5                             NaT
            6                             NaT
            0                             NaT
2015.0      1             2015-04-23 00:00:00
            2             2015-07-09 00:00:00
            3             2015-10-06 00:00:00
            4             2016-02-11 00:00:00
            5                             NaT
            6                             NaT
            0                             NaT
2016.0      1             2016-04-18 16:09:39
            2             2016-07-07 16:20:31
            3             2016-09-29 16:20:07
            4             2017-02-15 16:35:15
            5                             NaT
            6                             NaT
            0                             NaT
2017.0      1             2017-04-26 00:00:00
            2             2017-07-11 00:00:00
            3             2017-10-04 00:00:00
            4             2018-02-13 00:00:00
            5                             NaT
            6                             NaT
            0                             NaT
2018.0      1             2018-04-26 00:00:00
            2             2018-07-10 00:00:00
            3             2018-10-02 00:00:00
            4             2019-02-15 00:00:00
            5                             NaT
            6                             NaT
            0                             NaT
2019.0      1             2019-06-11 00:00:00
            2             2019-07-09 00:00:00
            3             2019-10-03 00:00:00
            4             2020-02-13 00:00:00
            5                             NaT
            6                             NaT
            0                             NaT
2020.0      1             2020-04-28 00:00:00
            2             2020-07-13 00:00:00
            3             2020-10-01 00:00:00
            4             2021-02-11 00:00:00
            5                             NaT
            6                             NaT
            0                             NaT
2021.0      1             2021-04-15 00:00:00
            2             2021-07-13 00:00:00
            3             2021-10-05 00:00:00
            4             2022-02-10 00:00:00
            5                             NaT
            6                             NaT
            0                             NaT
2022.0      1             2022-04-26 00:00:00
            2             2022-07-12 00:00:00
            3             2022-10-12 00:00:00
            4                             NaT
            5                             NaT
            6                             NaT
            0                             NaT
2023.0      1                             NaT
            2                             NaT
            3                             NaT
            4                             NaT
            5                             NaT
            6                             NaT
            0                             NaT

                          earnings_press_release_filing_date
fiscal_year fiscal_period
2007.0      1                                            NaT
            2                                            NaT
            3                                            NaT
            4                                            NaT
            5                                            NaT
            6                                            NaT
            0                                            NaT
2008.0      1                                            NaT
            2                                            NaT
            3                                            NaT
            4                                     2009-02-13
            5                                            NaT
            6                                            NaT
            0                                            NaT
2009.0      1                                     2009-04-20
            2                                     2009-07-22
            3                                     2009-10-08
            4                                     2010-02-11
            5                                            NaT
            6                                            NaT
            0                                            NaT
2010.0      1                                     2010-04-22
            2                                     2010-07-20
            3                                     2010-10-07
            4                                     2011-02-10
            5                                            NaT
            6                                            NaT
            0                                            NaT
2011.0      1                                     2011-04-28
            2                                     2011-07-21
            3                                     2011-10-12
            4                                     2012-02-09
            5                                            NaT
            6                                            NaT
            0                                            NaT
2012.0      1                                     2012-04-26
            2                                     2012-07-25
            3                                     2012-10-17
            4                                     2013-02-14
            5                                            NaT
            6                                            NaT
            0                                            NaT
2013.0      1                                     2013-04-18
            2                                     2013-07-24
            3                                     2013-10-16
            4                                     2014-02-13
            5                                            NaT
            6                                            NaT
            0                                            NaT
2014.0      1                                     2014-04-17
            2                                     2014-07-23
            3                                     2014-10-09
            4                                     2015-02-11
            5                                            NaT
            6                                            NaT
            0                                            NaT
2015.0      1                                     2015-04-23
            2                                     2015-07-09
            3                                     2015-10-06
            4                                     2016-02-11
            5                                            NaT
            6                                            NaT
            0                                            NaT
2016.0      1                                     2016-04-18
            2                                     2016-07-07
            3                                     2016-09-29
            4                                     2017-02-15
            5                                            NaT
            6                                            NaT
            0                                            NaT
2017.0      1                                     2017-04-26
            2                                     2017-07-11
            3                                     2017-10-04
            4                                     2018-02-13
            5                                            NaT
            6                                            NaT
            0                                            NaT
2018.0      1                                     2018-04-26
            2                                     2018-07-10
            3                                     2018-10-02
            4                                     2019-02-15
            5                                            NaT
            6                                            NaT
            0                                            NaT
2019.0      1                                     2019-04-17
            2                                     2019-07-09
            3                                     2019-10-03
            4                                     2020-02-13
            5                                            NaT
            6                                            NaT
            0                                            NaT
2020.0      1                                     2020-04-28
            2                                     2020-07-13
            3                                     2020-10-01
            4                                     2021-02-11
            5                                            NaT
            6                                            NaT
            0                                            NaT
2021.0      1                                     2021-04-15
            2                                     2021-07-13
            3                                     2021-10-05
            4                                     2022-02-10
            5                                            NaT
            6                                            NaT
            0                                            NaT
2022.0      1                                     2022-04-26
            2                                     2022-07-12
            3                                     2022-10-12
            4                                            NaT
            5                                            NaT
            6                                            NaT
            0                                            NaT
2023.0      1                                            NaT
            2                                            NaT
            3                                            NaT
            4                                            NaT
            5                                            NaT
            6                                            NaT
            0                                            NaT

In [12]:
qgrid.show_grid(filings)

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [21]:
filings.filing_type

filing_id
2022226              FilingType.eightk_nonfinancial
2008025              FilingType.eightk_nonfinancial
1989389            FilingType.annualQuarterlyReport
1989361      FilingType.eightk_earningsPressRelease
1953295              FilingType.eightk_nonfinancial
1951418              FilingType.eightk_nonfinancial
1951413              FilingType.eightk_nonfinancial
1949352            FilingType.annualQuarterlyReport
1949337      FilingType.eightk_earningsPressRelease
1936451              FilingType.eightk_nonfinancial
1920951              FilingType.eightk_nonfinancial
1909304            FilingType.annualQuarterlyReport
1909244      FilingType.eightk_earningsPressRelease
1904592              FilingType.eightk_nonfinancial
1893878                            FilingType.proxy
1887535              FilingType.eightk_nonfinancial
1871311            FilingType.annualQuarterlyReport
1871280      FilingType.eightk_earningsPressRelease
1819290              FilingType.eightk_nonfinancial
1819246              FilingType.eightk_nonfinancial
1818952              FilingType.eightk_nonfinancial
1816395              FilingType.eightk_nonfinancial
1813846              FilingType.eightk_nonfinancial
1813419            FilingType.annualQuarterlyReport
1813388      FilingType.eightk_earningsPressRelease
1787954              FilingType.eightk_nonfinancial
1786438              FilingType.eightk_nonfinancial
1774505            FilingType.annualQuarterlyReport
1774472      FilingType.eightk_earningsPressRelease
1762005              FilingType.eightk_nonfinancial
1748340              FilingType.eightk_nonfinancial
1729474      FilingType.eightk_earningsPressRelease
1729467            FilingType.annualQuarterlyReport
1719658                            FilingType.proxy
1694849            FilingType.annualQuarterlyReport
1694801      FilingType.eightk_earningsPressRelease
1651246              FilingType.eightk_nonfinancial
1639879              FilingType.eightk_nonfinancial
1639184              FilingType.eightk_nonfinancial
1637382            FilingType.annualQuarterlyReport
1637355      FilingType.eightk_earningsPressRelease
1606221              FilingType.eightk_nonfinancial
1585588            FilingType.annualQuarterlyReport
1585576      FilingType.eightk_earningsPressRelease
1584343              FilingType.eightk_nonfinancial
1573290              FilingType.eightk_nonfinancial
1560825              FilingType.eightk_nonfinancial
1557442              FilingType.eightk_nonfinancial
1554254              FilingType.eightk_nonfinancial
1550035      FilingType.eightk_earningsPressRelease
1550030            FilingType.annualQuarterlyReport
1545105              FilingType.eightk_nonfinancial
1533791                            FilingType.proxy
1533531              FilingType.eightk_nonfinancial
1527868              FilingType.eightk_nonfinancial
1515338            FilingType.annualQuarterlyReport
1515333      FilingType.eightk_earningsPressRelease
1470768              FilingType.eightk_nonfinancial
1469341              FilingType.eightk_nonfinancial
1467792            FilingType.annualQuarterlyReport
1467788      FilingType.eightk_earningsPressRelease
1459297              FilingType.eightk_nonfinancial
1451000            FilingType.annualQuarterlyReport
1450999            FilingType.annualQuarterlyReport
1450998            FilingType.annualQuarterlyReport
1450997            FilingType.annualQuarterlyReport
1389034            FilingType.annualQuarterlyReport
1389033            FilingType.annualQuarterlyReport
1389032            FilingType.annualQuarterlyReport
1312500              FilingType.eightk_nonfinancial
1305590            FilingType.annualQuarterlyReport
1305589    FilingType.BusinessWirePR_filedAfterAn8K
1305588      FilingType.eightk_earningsPressRelease
1305587            FilingType.annualQuarterlyReport
1299829            FilingType.annualQuarterlyReport
1299801              FilingType.eightk_nonfinancial
1280070            FilingType.annualQuarterlyReport
1279969              FilingType.eightk_nonfinancial
1268510    FilingType.BusinessWirePR_filedAfterAn8K
1268508            FilingType.annualQuarterlyReport
1268493      FilingType.eightk_earningsPressRelease
1258973                            FilingType.proxy
1256541              FilingType.eightk_nonfinancial
1256324              FilingType.eightk_nonfinancial
1252129              FilingType.eightk_nonfinancial
1242487            FilingType.annualQuarterlyReport
1242109      FilingType.eightk_earningsPressRelease
1242103          FilingType.BusinessWirePR_replaced
1240451                    FilingType.commentLetter
1240450            FilingType.commentLetterResponse
1240449            FilingType.commentLetterResponse
1230109              FilingType.eightk_nonfinancial
1226712              FilingType.eightk_nonfinancial
1222038              FilingType.eightk_nonfinancial
1212615              FilingType.eightk_nonfinancial
1201760              FilingType.eightk_nonfinancial
1197877              FilingType.eightk_nonfinancial
1195965            FilingType.annualQuarterlyReport
1195755      FilingType.eightk_earningsPressRelease
1195742          FilingType.BusinessWirePR_replaced
1184927              FilingType.eightk_nonfinancial
1184788              FilingType.eightk_nonfinancial
1177075              FilingType.eightk_nonfinancial
1138852            FilingType.annualQuarterlyReport
1138720      FilingType.eightk_earningsPressRelease
1123541              FilingType.eightk_nonfinancial
970235               FilingType.eightk_nonfinancial
970234               FilingType.eightk_nonfinancial
970233               FilingType.eightk_nonfinancial
970232               FilingType.eightk_nonfinancial
970231               FilingType.eightk_nonfinancial
970230               FilingType.eightk_nonfinancial
970229               FilingType.eightk_nonfinancial
970228               FilingType.eightk_nonfinancial
970227               FilingType.eightk_nonfinancial
970226               FilingType.eightk_nonfinancial
970225               FilingType.eightk_nonfinancial
970224               FilingType.eightk_nonfinancial
970223               FilingType.eightk_nonfinancial
970222               FilingType.eightk_nonfinancial
970221               FilingType.eightk_nonfinancial
970220               FilingType.eightk_nonfinancial
970219               FilingType.eightk_nonfinancial
970218               FilingType.eightk_nonfinancial
970217               FilingType.eightk_nonfinancial
970216               FilingType.eightk_nonfinancial
970215               FilingType.eightk_nonfinancial
970214               FilingType.eightk_nonfinancial
970213               FilingType.eightk_nonfinancial
970212               FilingType.eightk_nonfinancial
970211               FilingType.eightk_nonfinancial
970210               FilingType.eightk_nonfinancial
970209               FilingType.eightk_nonfinancial
970208               FilingType.eightk_nonfinancial
970207               FilingType.eightk_nonfinancial
970206               FilingType.eightk_nonfinancial
970205               FilingType.eightk_nonfinancial
970204               FilingType.eightk_nonfinancial
970203               FilingType.eightk_nonfinancial
970202               FilingType.eightk_nonfinancial
970201               FilingType.eightk_nonfinancial
970200               FilingType.eightk_nonfinancial
970199               FilingType.eightk_nonfinancial
970198               FilingType.eightk_nonfinancial
970197               FilingType.eightk_nonfinancial
970196               FilingType.eightk_nonfinancial
970195               FilingType.eightk_nonfinancial
970194               FilingType.eightk_nonfinancial
970193               FilingType.eightk_nonfinancial
970192               FilingType.eightk_nonfinancial
970191               FilingType.eightk_nonfinancial
970190               FilingType.eightk_nonfinancial
970189               FilingType.eightk_nonfinancial
970188               FilingType.eightk_nonfinancial
970187               FilingType.eightk_nonfinancial
970186               FilingType.eightk_nonfinancial
970185               FilingType.eightk_nonfinancial
970184               FilingType.eightk_nonfinancial
970183               FilingType.eightk_nonfinancial
970182               FilingType.eightk_nonfinancial
970181               FilingType.eightk_nonfinancial
970180               FilingType.eightk_nonfinancial
970179               FilingType.eightk_nonfinancial
970178               FilingType.eightk_nonfinancial
970177               FilingType.eightk_nonfinancial
970176               FilingType.eightk_nonfinancial
970175               FilingType.eightk_nonfinancial
970174               FilingType.eightk_nonfinancial
970173               FilingType.eightk_nonfinancial
970172               FilingType.eightk_nonfinancial
970171               FilingType.eightk_nonfinancial
970170               FilingType.eightk_nonfinancial
970169               FilingType.eightk_nonfinancial
970168               FilingType.eightk_nonfinancial
970167               FilingType.eightk_nonfinancial
970166               FilingType.eightk_nonfinancial
970165               FilingType.eightk_nonfinancial
970164               FilingType.eightk_nonfinancial
970163               FilingType.eightk_nonfinancial
764266               FilingType.eightk_nonfinancial
758941             FilingType.annualQuarterlyReport
758334       FilingType.eightk_earningsPressRelease
742827                             FilingType.proxy
734615             FilingType.annualQuarterlyReport
734438       FilingType.eightk_earningsPressRelease
702392             FilingType.annualQuarterlyReport
702344       FilingType.eightk_earningsPressRelease
677343             FilingType.annualQuarterlyReport
676993       FilingType.eightk_earningsPressRelease
662743             FilingType.annualQuarterlyReport
662433       FilingType.eightk_earningsPressRelease
653830                             FilingType.proxy
645209             FilingType.annualQuarterlyReport
645066       FilingType.eightk_earningsPressRelease
619066             FilingType.annualQuarterlyReport
619035       FilingType.eightk_earningsPressRelease
560677                     FilingType.commentLetter
560676                     FilingType.commentLetter
560675                     FilingType.commentLetter
560674                     FilingType.commentLetter
560673             FilingType.commentLetterResponse
560672             FilingType.commentLetterResponse
560671             FilingType.commentLetterResponse
560670             FilingType.commentLetterResponse
544053                     FilingType.commentLetter
544052                     FilingType.commentLetter
544051                     FilingType.commentLetter
544050                     FilingType.commentLetter
544049             FilingType.commentLetterResponse
544048             FilingType.commentLetterResponse
544047             FilingType.commentLetterResponse
544046             FilingType.commentLetterResponse
493675                     FilingType.commentLetter
493674                     FilingType.commentLetter
493673             FilingType.commentLetterResponse
493672             FilingType.commentLetterResponse
442101             FilingType.annualQuarterlyReport
437045                     FilingType.commentLetter
437044                     FilingType.commentLetter
437043             FilingType.commentLetterResponse
437042             FilingType.commentLetterResponse
379977       FilingType.eightk_earningsPressRelease
367667                     FilingType.commentLetter
367666                     FilingType.commentLetter
367665             FilingType.commentLetterResponse
367664             FilingType.commentLetterResponse
350962             FilingType.annualQuarterlyReport
350889       FilingType.eightk_earningsPressRelease
346662                             FilingType.proxy
340681             FilingType.annualQuarterlyReport
332259             FilingType.annualQuarterlyReport
332232             FilingType.annualQuarterlyReport
324862             FilingType.annualQuarterlyReport
317626             FilingType.annualQuarterlyReport
310930             FilingType.annualQuarterlyReport
301923             FilingType.annualQuarterlyReport
294584             FilingType.annualQuarterlyReport
286394             FilingType.annualQuarterlyReport
280193             FilingType.annualQuarterlyReport
270771             FilingType.annualQuarterlyReport
263082             FilingType.annualQuarterlyReport
254813             FilingType.annualQuarterlyReport
248902             FilingType.annualQuarterlyReport
238812             FilingType.annualQuarterlyReport
231018             FilingType.annualQuarterlyReport
222670             FilingType.annualQuarterlyReport
216656             FilingType.annualQuarterlyReport
201803             FilingType.annualQuarterlyReport
201802             FilingType.annualQuarterlyReport
201801             FilingType.annualQuarterlyReport
201800             FilingType.annualQuarterlyReport
201799             FilingType.annualQuarterlyReport
201798             FilingType.annualQuarterlyReport
201797             FilingType.annualQuarterlyReport
201796             FilingType.annualQuarterlyReport
201795             FilingType.annualQuarterlyReport
201794             FilingType.annualQuarterlyReport
188764       FilingType.eightk_earningsPressRelease
179256       FilingType.eightk_earningsPressRelease
178730       FilingType.eightk_earningsPressRelease
171207       FilingType.eightk_earningsPressRelease
168208                             FilingType.proxy
166560       FilingType.eightk_earningsPressRelease
158223       FilingType.eightk_earningsPressRelease
154843                             FilingType.proxy
152075       FilingType.eightk_earningsPressRelease
144243       FilingType.eightk_earningsPressRelease
138336       FilingType.eightk_earningsPressRelease
129528       FilingType.eightk_earningsPressRelease
126149                             FilingType.proxy
123043       FilingType.eightk_earningsPressRelease
116701       FilingType.eightk_earningsPressRelease
111158       FilingType.eightk_earningsPressRelease
102896       FilingType.eightk_earningsPressRelease
99143                              FilingType.proxy
95210        FilingType.eightk_earningsPressRelease
90057        FilingType.eightk_earningsPressRelease
82190        FilingType.eightk_earningsPressRelease
78724                              FilingType.proxy
75025        FilingType.eightk_earningsPressRelease
68848        FilingType.eightk_earningsPressRelease
63782        FilingType.eightk_earningsPressRelease
56026        FilingType.eightk_earningsPressRelease
53056                              FilingType.proxy
50637        FilingType.eightk_earningsPressRelease
43652        FilingType.eightk_earningsPressRelease
43651        FilingType.eightk_earningsPressRelease
38706        FilingType.eightk_earningsPressRelease
32047        FilingType.eightk_earningsPressRelease
24888        FilingType.eightk_earningsPressRelease
20020        FilingType.eightk_earningsPressRelease
12059        FilingType.eightk_earningsPressRelease
8431                               FilingType.proxy
5572         FilingType.eightk_earningsPressRelease
Name: filing_type, dtype: category
Categories (8, object): ['FilingType.BusinessWirePR_filedAfterAn8K', 'FilingType.BusinessWirePR_replaced', 'FilingType.annualQuarterlyReport', 'FilingType.commentLetter', 'FilingType.commentLetterResponse', 'FilingType.eightk_earningsPressRelease', 'FilingType.eightk_nonfinancial', 'FilingType.proxy']